GOOGLE_API_KEY=
LLM_MODEL=
TE_API_KEY=
SEERIST_API_KEY=

DATA_BRIDGES_KEY=
DATA_BRIDGES_SECRET=
DATA_BRIDGES_API_BASE_URL=https://api.wfp.org/vam-data-bridges/7.0.0
DATA_BRIDGES_TOKEN_URL=https://api.wfp.org/token
DATA_BRIDGES_TIMEOUT=60
DATA_BRIDGES_MAX_RETRIES=3
DATA_BRIDGES_ENV=

MARKET_NAMES_GCS_URI=
