fastapi
uvicorn[standard]
python-multipart
python-dotenv
langchain-core
langchain-google-genai
langchain-google-vertexai
google-cloud-aiplatform
langgraph
pandas
numpy
chardet
requests
matplotlib
python-docx
google-cloud-firestore
google-cloud-storage
openpyxl
streamlit
